.navegacao{
    display: flex;
    background: black;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1px;
}

.rodape{
    display: flex;
    background: black;
    flex-direction: row;
    color: white;
    justify-content: flex-end; 
}

.perfil {
    width: 400px;
    padding: 10px;
    border-radius: 70%;
    border-style: dotted;
    border-color: violet;
}

.texto{
    overflow: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtSlaaDJ0hokuX6rcpkZR-xPZ3dSif30cddG6d1Aq9LjWX5kJE")
}

#img1{
    float: right;
    margin: 15px;
    
}

#img2{
    float: left;
    margin: 15px;
}

#img3{
    float:right;
    margin: 15px;
}

p {
    padding: 15px 32px;
    text-decoration: none;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 0px;
    border: 0px
}

button:hover:not(.active) {
    background-color: #77b300;
}


h2{ text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #77b300;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 100px 10px 10px 10px;
    padding: 3px;
    border: 0px;
    text-shadow: 1px 1px gray;  
    
}


h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 40px;
}

button {
    background-color:black;
    border: 1px solid #696969;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

body{
    margin-left: 70px;
    margin-right: 70px;
    background-image: url("https://img3.stockfresh.com/files/z/zven0/m/83/7200503_stock-photo-white-wooden-plank.jpg");
    
}

.github{
    height:50px;
    margin:3px;
    padding: 7px 15px 7px 300px;
    float: left;
}

#textorodape{
    margin:3px;
    padding: 20px;
    float: left;
}
p.idade{
    font-size: 16px;
    border: 0px;
    text-align: right;
}

@media (max-width: 600px) { 
    
    body{
        margin-left: 0%;
        margin-right: 0%;
    }

    .navegacao{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .rodape{
        display: flex;
        flex-direction: column;
    }

    .perfil{
        max-width: 80%;
        height: auto;
        
    }
}